/* @theme dsi_certificates_theme */
@import 'default';

section { position: relative; }

/* Logo → bottom-right */
section::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 325px;
  height: 70px;
  background-image: url("./images/dsi_logo_v4.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;

  /* Anti-aliasing improvements */
  image-rendering: auto;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;

  pointer-events: none;
}