/* dsi-certificates-theme.css */
/* @theme dsi-certificates-theme */

@import 'uncover';

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}


p {
    text-align: left;
    font-size: 35px
}
ul {
    margin: 0;
    font-size: 35px;
}
table {
    font-size: 35px;
}
ol {
    margin: 0;
    font-size: 35px;
}

blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: none;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after{
    content: none;
}

footer {
    margin-bottom: 0px;
    text-align: left;
}
